# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/
[Bb]in/
.utmp/
mono_crash*

# Rider / VS / VSCode
.idea/
.vscode/
.vs/

# OS
.DS_Store
Thumbs.db
